body {
    background-color: #FFFFFF;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.main.container {
    margin-top: 2em;
    margin-left: 7em;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}
.custom-link{
    color: #2185d0;
    cursor: pointer;
}
body > div#root > div > div > div > div.ui > a.item > img.custom-logo{
    width: 50px;
    margin: 0 auto 10px;
}

.custom-statistic{
    width: 95%;
    padding: 20px 0;
    border-radius: 4px;
}

.custom-label{
    margin-bottom: 15px;
}

.custom-red{
    background-color: #B03060;
}
.custom-blue{
    background-color: #0E6EB8;
}
.custom-violet{
    background-color: #EE82EE;
}
.custom-brown{
    background-color: #A52A2A;
}
.custom-purple{
    background-color: #B413EC;
}
.custom-teal{
    background-color: #008080;
}

.custom-list{
    width: 100%;
}

.custom-list > div.item{
    width: 99%;
    text-align: left;
    font-weight: bold;
}

.custom-list > div.item > span{
    float: right;
    font-weight: normal;
}

.ui.statistic > .value,
.ui.statistics .statistic > .value{
    font-size: 2rem !important;
}

div.column > div.statistic > div.custom-white{
    color: white;
}

div .custom-rail{
    position: fixed;
    left: 0;
    cursor: pointer;
    z-index: 10000;
}

div .custom-rail.fixed.launch.button {
    display: none;
    position: fixed;
    top: 2.5em;
    left: 0px;
    width: 55px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: 0.3s width ease, 0.5s transform ease;
    -moz-transition: 0.3s width ease, 0.5s transform ease;
    -o-transition: 0.3s width ease, 0.5s transform ease;
    -ms-transition: 0.3s width ease, 0.5s transform ease;
    transition: 0.3s width ease, 0.5s transform ease;
}

div > .launch.button {
    display: block;
}

.ui.modal.custom-modal{
    top: 110px;
}

.scroll-content{
    height: 350px;
    overflow-y: scroll;
    margin-top: 30px;
}

.image.custom-image{
    position: absolute;
    top: -70px;
    width: 50px;
    height: 50px;
    margin: 0;
}

.custom-window-close{
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
}

/* NavBar */
div.ui.left.demo.custom-sidebar{
    width: 260px;
}

div.infos{
    margin-bottom: 5px;
    padding-right: 60px;
    text-align: left;
}

div.infos span{
    float: right;
    font-weight: bold;
}
